<nav>
  <ul>
    <li><strong>PHOTO GALLERY</strong></li>
  </ul>
  <ul>
    <li><a href="/">Show Images</a></li>
    <li><a href="/add-image-form">Add Image</a></li>
  </ul>
  <ul>
    <li>
      <form action="/search" method="get">
      <input type="text" name="title" placeholder="search by title here">
      <button type="submit">Search</button>
    </form>
    </li>
  </ul>
</nav>
