<nav>
  <ul>
    <li><a href="/" class="link-not-decorated"><strong>IMAGE GALLERY</strong></a></li>
  </ul>
  <li class="mobile-view" style="padding-right: 0;">
    <details class="dropdown">
      <summary>Options</summary>
      <ul dir="rtl">
        <li><a href="/">Show Images</a></li>
        <li><a href="/add-image-form">Add Image</a></li>
        <li><a href="/add-category">Add Category</a></li>
      </ul>
    </details>
  </li>
  <ul class="not-mobile-view nav-options-not-mobile-view">
    <li><a href="/">Show Images</a></li>
    <li><a href="/add-image-form">Add Image</a></li>
    <li><a href="/add-category">Add Category</a></li>
  </ul>
</nav>
