<nav>
  <ul>
    <li><strong>PHOTO GALLERY</strong></li>
  </ul>
  <li class="mobile-view">
    <details class="dropdown">
      <summary>options</summary>
      <ul dir="rtl">
        <li><a href="/">Show Images</a></li>
        <li><a href="/add-image-form">Add Image</a></li>
        <li><a href="/add-category">Add Category</a></li>
      </ul>
    </details>
  </li>
  <ul class="not-mobile-view nav-options-not-mobile-view">
    <li><a href="/">Show Images</a></li>
    <li><a href="/add-image-form">Add Image</a></li>
    <li><a href="/add-category">Add Category</a></li>
    <li class="search-form-li-not-mobile-view">
      <form class="search-form-not-mobile-view" action="/search" method="get">
        <div class="input-not-mobile-view">
          <input
            type="text"
            name="title"
            placeholder="search by title here ..."
          />
        </div>
        <div>
          <button class="button-not-mobile-view" type="submit">Search</button>
        </div>
      </form>
    </li>
  </ul>
</nav>
