<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>Add New Category</title>
    <script defer src="category.js"></script>
    <!-- template partial -->
    <%- include("./partials/head") %>
  </head>

  <body>
    <!-- template partial -->
    <header class="container"><%- include("./partials/nav") %></header>

    <form class="container" action="/add-category" method="post">
      <label for="category">Category</label>
      <input
        type="text"
        name="category"
        id="category"
        maxlength="15"
        pattern="^[A-Za-z]+$"
        title="The category name must contain 1-12 characters, which can only be letters."
        required
      />
      <input type="submit" value="Add Category" />

      <% if (isCategoryAdded) { %>
      <div id="category-message" class="container alert success">
        Category added correctly
      </div>
      <% } %> <% if (categoryAlreadyAdded) { %>
      <div id="category-already-message" class="container alert warning">
        That category already exists
      </div>
      <% } %>
    </form>
  </body>
</html>
