<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add New Image</title>
    <script defer src="form.js"></script>
    <%- include("./partials/head") %>
  </head>

  <body>

    <header class="container">
      <%- include("./partials/nav") %>
    </header>

    <form class="container" action="/add-image-form" method="post">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        maxlength="30"
        pattern="^[a-zA-Z\u00C0-\u017F_ ]+$"
        title="The title must be 1-30 characters long and can only contain letters, numbers, spaces, and underscores."
        required
      />
      <label for="link">Link</label>
      <input type="url" name="link" id="link" required />
      <label for="date">Date</label>
      <input type="date" name="date" id="date" required />
      <label for="category">Category</label>
      <select name="category" required>
        <option selected disabled value="">Choose a category</option>
        <option>animals</option>
        <option>landscapes</option>
        <option>cars</option>
      </select>
      <input type="submit" value="Add Image" />
    </form>

    <% if (isImagePosted) { %>
      <div id="message" class="container alert success">
        Image added to gallery correctly. 
      </div>
      <% } %>

      <% if (imageAlreadyAdded) { %>
        <div id="already-message" class="container alert warning">
          This image is already in the database. 
        </div>
        <% } %>

      
  </body>
</html>
