<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>Add New Image</title>
    <script defer src="form.js"></script>
    <!-- template partial -->
    <%- include("./partials/head") %>
  </head>

  <body>
    <!-- template partial -->
    <header class="container"><%- include("./partials/nav") %></header>

    <form class="container" action="/add-image-form" method="post">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        maxlength="30"
        pattern="^[A-Za-z0-9 \-_]+$"
        title="The title must contain 1-30 characters, and it can only contain letters, numbers, spaces, hyphens and underscores."
        required
      />
      <label for="link">Link</label>
      <input type="url" name="link" id="link" required />
      <label for="date">Date</label>
      <input type="date" name="date" id="date" required />
      <label for="category">Category</label>
      <select name="category" required>
        <option selected disabled value="">Choose a category</option>
        <% categories.forEach((c) => { %>
        <option value="<%= c %>"><%= c %></option>
        <% }); %>
      </select>
      <input type="submit" value="Add Image" />

      <% if (isImagePosted) { %>
      <div id="message" class="container alert success">
        Image added to gallery correctly
      </div>
      <% } %> <% if (imageAlreadyAdded) { %>
      <div id="already-message" class="container alert warning">
        This image is already in the database
      </div>
      <% } %>
    </form>
  </body>
</html>
