@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1050px) {
    .grid {
      grid-template-columns: repeat(3, 33%);
    }
  }

.alert {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  cursor: pointer;
}

.alert.success {
  background-color: #04aa6d;
  border-radius: 5px;
}

.alert.warning {
  background-color: red;
  border-radius: 5px;
}
