.search-form-container {
  display: flex;
  justify-content: flex-end;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.image-div {
  margin-bottom: 1rem;
}

.image-delete-button {
  background-color: transparent;
  color: #80808061;
  padding: 0 10px 2px 10px;
/*   border: none; */
}

/* .image-delete-button:focus {
  border: none;
} */


.image-color-info-container {
  display: flex;
  justify-content: space-between;
}

.color-box {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: solid;
}

.alert {
  padding: 20px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  cursor: pointer;
}

.alert.success {
  background-color: #04aa6d;
  border-radius: 5px;
}

.alert.warning {
  background-color: red;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1050px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
